@inherits LayoutComponentBase

<PageTitle>AssistanceQr</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavAdmin />
    </div>

    <main>
        <div class="top-row px-4">
            <p style="color:white">Consulta de datos</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
