@inherits LayoutComponentBase

<PageTitle>AssistanceQr</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color:#3a0647">

        </div>

        <article class="container-body">
            @Body
        </article>
    </main>
</div>
